[MESSAGES CONTROL]
# C0111:Missing method docstring (missing-docstring)
# W0511:TODO
# W0703:Catching too general exception Exception (broad-except)
# W0613:Unused argument 'cipher' (unused-argument)
# R0902:Too many instance attributes (8/7) (too-many-instance-attributes)
# R0801:Similar lines

disable=C0111,W0511,W0703,W0613,R0902,R0801

[REPORTS]
msg-template = {path}:{line} {msg_id}:{msg} ({symbol})
